<!DOCTYPE html>

<html data-wf-page="65b8381d96101a53625b2226" data-wf-site="6416913004ae8a2b5cbbad43">
    {% extends 'base/base.html' %}
    {% block content %}
    {% load static %}
    <body>
        <div class="landing_section">
            <div class="slider-2-copy w-slider" data-animation="slide" data-autoplay="false" data-autoplay-limit="0" data-delay="2500" data-disable-swipe="false" data-duration="500" data-easing="ease" data-hide-arrows="true" data-infinite="false" data-nav-spacing="3">
                <div class="mask w-slider-mask">
                    <div class="slide-4 w-slide">
                        <div class="waves---section-hero-primary-2">
                            <div class="waves---main-container-3 w-container">
                                <div class="w-layout-grid waves-grid-hero-2">
                                    <div class="waves-content-hero-2" id="w-node-c929d261-6c3f-2f55-658d-3cd6d1576a85-625b2226">
                                        <h1 class="second_title">
                                            Conference
                                            <br/>
                                            <span class="_2024_txt">
                                                2024
                                            </span>
                                        </h1>
                                        <div class="waves---limit-481">
                                            <div class="waves---subtitle-2">
                                                Exciting details for our 2024 Conference
                                                <br/>
                                                Unveiling Soon...
                                            </div>
                                        </div>
                                        <div class="waves---mg-top-17">
                                            <a class="waves---cta-dark-3 wide-cta w-button" href="#">
                                                Early-bird Ticket Request
                                            </a>
                                        </div>
                                        <div class="w-embed">
                                            <style>
                                                .second_title {
  display: inline-block;
  background-image: linear-gradient(-45deg, #A2C754, #C75454, #1851e5, #54B2C7) !important;
  background-size: 300% !important;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}
/* Animation Keyframes */
@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
                                            </style>
                                        </div>
                                    </div>
                                    <div class="waves-gallery-hero-2" id="w-node-c929d261-6c3f-2f55-658d-3cd6d1576a94-625b2226">
                                        <div class="waves-gradient-hero-2">
                                        </div>
                                        <div class="waves-column-hero-2 column-one" style="-webkit-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                                            <div class="waves-inside-hero-2">
                                                <div class="waves-item-gallery-hero-2">
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/insta202310131897.jpg' %}" srcset="{% static 'web/images/insta202310131897-p-500.jpg' %} 500w, {% static 'web/images/insta202310131897-p-800.jpg' %} 800w, {% static 'web/images/insta202310131897.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231014-gala202310141466.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141466-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141466-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141466.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231012-day2202310121529.jpg' %}" srcset="{% static 'web/images/20231012-day2202310121529-p-500.jpg' %} 500w, {% static 'web/images/20231012-day2202310121529-p-800.jpg' %} 800w, {% static 'web/images/20231012-day2202310121529.jpg' %} 1024w"/>
                                                    </div>
                                                </div>
                                                <div class="waves-item-gallery-hero-2">
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231014-day3202310141580.jpg' %}" srcset="{% static 'web/images/20231014-day3202310141580-p-500.jpg' %} 500w, {% static 'web/images/20231014-day3202310141580-p-800.jpg' %} 800w, {% static 'web/images/20231014-day3202310141580.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231014-gala202310141487.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141487-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141487-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141487.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231013-day4202310131737.jpg' %}" srcset="{% static 'web/images/20231013-day4202310131737-p-500.jpg' %} 500w, {% static 'web/images/20231013-day4202310131737-p-800.jpg' %} 800w, {% static 'web/images/20231013-day4202310131737.jpg' %} 1024w"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="waves-column-hero-2 column-two" style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                                            <div class="waves-inside-hero-2 reverse">
                                                <div class="waves-item-gallery-hero-2">
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/insta202310131927.jpg' %}" srcset="{% static 'web/images/insta202310131927-p-500.jpg' %} 500w, {% static 'web/images/insta202310131927-p-800.jpg' %} 800w, {% static 'web/images/insta202310131927.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231013-day3202310131277.jpg' %}" srcset="{% static 'web/images/20231013-day3202310131277-p-500.jpg' %} 500w, {% static 'web/images/20231013-day3202310131277-p-800.jpg' %} 800w, {% static 'web/images/20231013-day3202310131277.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231012-ADSFDAY2202310121159.jpg' %}" srcset="{% static 'web/images/20231012-ADSFDAY2202310121159-p-500.jpg' %} 500w, {% static 'web/images/20231012-ADSFDAY2202310121159-p-800.jpg' %} 800w, {% static 'web/images/20231012-ADSFDAY2202310121159.jpg' %} 1024w"/>
                                                    </div>
                                                </div>
                                                <div class="waves-item-gallery-hero-2">
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231011-ADF2023101107.jpg' %}" srcset="{% static 'web/images/20231011-ADF2023101107-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF2023101107-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF2023101107.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231012-day2202310121373.jpg' %}" srcset="{% static 'web/images/20231012-day2202310121373-p-500.jpg' %} 500w, {% static 'web/images/20231012-day2202310121373-p-800.jpg' %} 800w, {% static 'web/images/20231012-day2202310121373.jpg' %} 1024w"/>
                                                    </div>
                                                    <div class="waves-image-wrap-hero-2">
                                                        <img alt="" class="waves-image-hero-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 264px" src="{% static 'web/images/20231011-ADF2023101134.jpg' %}" srcset="{% static 'web/images/20231011-ADF2023101134-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF2023101134-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF2023101134.jpg' %} 1024w"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="waves-gradient-hero-2 bottom">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eventinfo">
                            <div class="w-container">
                                <div class="div-block-163">
                                    <div class="w-layout-grid waves-grid-hero-1">
                                        <div class="waves-content-hero-1" id="w-node-c929d261-6c3f-2f55-658d-3cd6d1576abb-625b2226">
                                            <div class="f-margin-bottom-43">
                                                <h1 class="second_hdr">
                                                    Conference
                                                    <br/>
                                                    <span class="text-span-59">
                                                        2024
                                                    </span>
                                                </h1>
                                                <div class="w-embed">
                                                    <style>
                                                        .second_hdr {
  display: inline-block;
  background-image: linear-gradient(-45deg, #A2C754, #C75454, #1851e5, #54B2C7) !important;
  background-size: 300% !important;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}
/* Animation Keyframes */
@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
                                                    </style>
                                                </div>
                                            </div>
                                            <h1 class="waves---mega-heading-1">
                                                Conference
                                                <br/>
                                                <span class="_2024_text">
                                                    2024
                                                </span>
                                            </h1>
                                            <div class="w-embed">
                                                <style>
                                                    .2024_text {
  display: inline-block;
  background-image: linear-gradient(-45deg, #A2C754, #C75454, #1851e5, #54B2C7) !important;
  background-size: 300% !important;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}
/* Animation Keyframes */
@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
                                                </style>
                                            </div>
                                            <div class="waves---limit-480">
                                                <div class="waves---subtitle">
                                                    Secure your spot in Dallas, TX
                                                    <br/>
                                                    November 2024
                                                </div>
                                            </div>
                                            <div class="waves---mg-top-16">
                                                <a class="waves---cta-dark-2 wide-cta w-button" href="#">
                                                    Early-bird Request
                                                </a>
                                            </div>
                                        </div>
                                        <div class="waves-gallery-hero-1-copy-copy" data-w-id="c929d261-6c3f-2f55-658d-3cd6d1576ad1" id="w-node-c929d261-6c3f-2f55-658d-3cd6d1576ad1-625b2226">
                                            <div class="upper_fade">
                                            </div>
                                            <div class="waves-column-hero-1 column-one" style="-webkit-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                                                <div class="waves-inside-hero-1">
                                                    <div class="waves-item-gallery-hero-1-copy">
                                                        <div class="waves-image-wrap-hero-1">
                                                            <img alt="" class="waves-image-hero-1" loading="lazy" sizes="100vw" src="{% static 'web/images/20231011-ADF2023101100.jpg' %}" srcset="{% static 'web/images/20231011-ADF2023101100-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF2023101100-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF2023101100.jpg' %} 1024w"/>
                                                        </div>
                                                        <div class="waves-image-wrap-hero-1">
                                                            <img alt="" class="waves-image-hero-1" loading="lazy" sizes="100vw" src="{% static 'web/images/20231013-day3202310131277.jpg' %}" srcset="{% static 'web/images/20231013-day3202310131277-p-500.jpg' %} 500w, {% static 'web/images/20231013-day3202310131277-p-800.jpg' %} 800w, {% static 'web/images/20231013-day3202310131277.jpg' %} 1024w"/>
                                                        </div>
                                                        <div class="waves-image-wrap-hero-1">
                                                            <img alt="" class="waves-image-hero-1" loading="lazy" sizes="100vw" src="{% static 'web/images/insta202310131927.jpg' %}" srcset="{% static 'web/images/insta202310131927-p-500.jpg' %} 500w, {% static 'web/images/insta202310131927-p-800.jpg' %} 800w, {% static 'web/images/insta202310131927.jpg' %} 1024w"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="waves-column-hero-1 column-two" style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                                                <div class="waves-inside-hero-1 reverse">
                                                    <div class="waves-item-gallery-hero-1">
                                                        <div class="waves-image-wrap-hero-1">
                                                            <img alt="" class="waves-image-hero-1" loading="lazy" sizes="100vw" src="{% static 'web/images/20231014-day3202310141580.jpg' %}" srcset="{% static 'web/images/20231014-day3202310141580-p-500.jpg' %} 500w, {% static 'web/images/20231014-day3202310141580-p-800.jpg' %} 800w, {% static 'web/images/20231014-day3202310141580.jpg' %} 1024w"/>
                                                        </div>
                                                        <div class="waves-image-wrap-hero-1">
                                                            <img alt="" class="waves-image-hero-1" loading="lazy" sizes="100vw" src="{% static 'web/images/20231012-day2202310121373.jpg' %}" srcset="{% static 'web/images/20231012-day2202310121373-p-500.jpg' %} 500w, {% static 'web/images/20231012-day2202310121373-p-800.jpg' %} 800w, {% static 'web/images/20231012-day2202310121373.jpg' %} 1024w"/>
                                                        </div>
                                                        <div class="waves-image-wrap-hero-1">
                                                            <img alt="" class="waves-image-hero-1" loading="lazy" sizes="100vw" src="{% static 'web/images/20231012-day2202310121480.jpg' %}" srcset="{% static 'web/images/20231012-day2202310121480-p-500.jpg' %} 500w, {% static 'web/images/20231012-day2202310121480-p-800.jpg' %} 800w, {% static 'web/images/20231012-day2202310121480.jpg' %} 1024w"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lower_fade bottom">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-slider-arrow-left">
                    <div class="w-icon-slider-left">
                    </div>
                </div>
                <div class="w-slider-arrow-right">
                    <div class="w-icon-slider-right">
                    </div>
                </div>
                <div class="w-slider-nav">
                </div>
            </div>
        </div>
        <div class="w-container" style="margin-top: 8em;">
            <div class="div-block-162">
                <div class="w-layout-grid uui-team09_component">
                    <div class="uui-team09_content">
                        <h2 class="uui-heading-medium-24-copy">
                            Previous Events
                        </h2>
                        <div class="uui-space-xsmall-22">
                        </div>
                        <div class="uui-text-size-large-28">
                            Diverse, passionate people that foster a culture that empowers Data Utilization.
                        </div>
                        <div class="uui-space-medium-14">
                        </div>
                        <div class="uui-button-row-20 is-reverse-mobile-landscape">
                            <div class="uui-button-wrapper-16 max-width-full-mobile-landscape">
                            </div>
                            <div class="uui-button-wrapper-16 max-width-full-mobile-landscape">
                            </div>
                        </div>
                    </div>
                    <div class="uui-team09_list-wrapper">
                        <div class="w-layout-grid uui-team09_list">
                            <div class="uui-team09_item">
                                <div class="uui-team09_image-wrapper">
                                    <img alt="" class="uui-team09_image" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 352px, 199px" src="{% static 'web/images/20231011-ADF20231011711.jpg' %}" srcset="{% static 'web/images/20231011-ADF20231011711-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF20231011711-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF20231011711.jpg' %} 1024w"/>
                                </div>
                                <div class="uui-team09_item-content">
                                    <div class="uui-heading-tiny-8">
                                        Leveraging Africa-Centric Data to Achieve Exponential Growth
                                    </div>
                                    <div class="uui-text-size-medium-24 text-color-primary700">
                                        Conference 2023
                                    </div>
                                    <div class="uui-space-xsmall-22">
                                    </div>
                                    <div class="uui-text-size-medium-24">
                                        Click to view archive
                                    </div>
                                </div>
                            </div>
                            <div class="uui-team09_item">
                                <div class="uui-team09_image-wrapper">
                                    <img alt="" class="uui-team09_image" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 352px, 199px" src="{% static 'web/images/a9e2b33dfe6a6a9e45bc5497c113e168.jpeg' %}" srcset="{% static 'web/images/a9e2b33dfe6a6a9e45bc5497c113e168-p-500.jpeg' %} 500w, {% static 'web/images/a9e2b33dfe6a6a9e45bc5497c113e168.jpeg' %} 564w"/>
                                </div>
                                <div class="uui-team09_item-content">
                                    <div class="uui-heading-tiny-8">
                                        UPCOMING
                                    </div>
                                    <div class="uui-text-size-medium-24 text-color-primary700">
                                        Conference 2024
                                    </div>
                                    <div class="uui-space-xsmall-22">
                                    </div>
                                    <div class="uui-text-size-medium-24">
                                        Click to view archive
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event_gallery">
            <div class="f-logo-carousel-wrap-2">
                <div class="div-block-160" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addefe-625b2226">
                    <div class="f-logo-carousel2">
                        <div class="f-logo-group">
                            <div class="w-layout-grid big_grid_1">
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf02-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231011-ADF2023101134.jpg' %}" srcset="{% static 'web/images/20231011-ADF2023101134-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF2023101134-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF2023101134.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf04-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231011-ADF20231011711.jpg' %}" srcset="{% static 'web/images/20231011-ADF20231011711-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF20231011711-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF20231011711.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf06-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310141466.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141466-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141466-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141466.jpg' %} 1024w"/>
                                </div>
                            </div>
                            <div class="w-layout-grid big_grid_3">
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf09-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/insta202310121860.jpg' %}" srcset="{% static 'web/images/insta202310121860-p-500.jpg' %} 500w, {% static 'web/images/insta202310121860-p-800.jpg' %} 800w, {% static 'web/images/insta202310121860.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf0b-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310142249.jpg' %}" srcset="{% static 'web/images/20231014-gala202310142249-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310142249-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310142249.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf0d-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310141546.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141546-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141546-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141546.jpg' %} 1024w"/>
                                </div>
                            </div>
                            <div class="w-layout-grid big_grid_2">
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf10-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231013-day3202310131259.jpg' %}" srcset="{% static 'web/images/20231013-day3202310131259-p-500.jpg' %} 500w, {% static 'web/images/20231013-day3202310131259-p-800.jpg' %} 800w, {% static 'web/images/20231013-day3202310131259.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf12-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231012-ADSFDAY2202310121190.jpg' %}" srcset="{% static 'web/images/20231012-ADSFDAY2202310121190-p-500.jpg' %} 500w, {% static 'web/images/20231012-ADSFDAY2202310121190-p-800.jpg' %} 800w, {% static 'web/images/20231012-ADSFDAY2202310121190.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf14-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310141587.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141587-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141587-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141587.jpg' %} 1024w"/>
                                </div>
                            </div>
                            <div class="w-layout-grid big_grid_4">
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf17-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-day4202310141726.jpg' %}" srcset="{% static 'web/images/20231014-day4202310141726-p-500.jpg' %} 500w, {% static 'web/images/20231014-day4202310141726-p-800.jpg' %} 800w, {% static 'web/images/20231014-day4202310141726.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf19-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231011-ADF20231011721.jpg' %}" srcset="{% static 'web/images/20231011-ADF20231011721-p-500.jpg' %} 500w, {% static 'web/images/20231011-ADF20231011721-p-800.jpg' %} 800w, {% static 'web/images/20231011-ADF20231011721.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf1b-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310141380.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141380-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141380-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141380.jpg' %} 1024w"/>
                                </div>
                            </div>
                            <div class="w-layout-grid big_grid_5">
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf1e-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231013-day4202310131974.jpg' %}" srcset="{% static 'web/images/20231013-day4202310131974-p-500.jpg' %} 500w, {% static 'web/images/20231013-day4202310131974-p-800.jpg' %} 800w, {% static 'web/images/20231013-day4202310131974.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf20-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/insta202310131897.jpg' %}" srcset="{% static 'web/images/insta202310131897-p-500.jpg' %} 500w, {% static 'web/images/insta202310131897-p-800.jpg' %} 800w, {% static 'web/images/insta202310131897.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf22-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231013-day3202310131353.jpg' %}" srcset="{% static 'web/images/20231013-day3202310131353-p-500.jpg' %} 500w, {% static 'web/images/20231013-day3202310131353-p-800.jpg' %} 800w, {% static 'web/images/20231013-day3202310131353.jpg' %} 1024w"/>
                                </div>
                            </div>
                            <div class="w-layout-grid big_grid_6">
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf25-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310141427.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141427-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141427-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141427.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf27-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-day3202310141580.jpg' %}" srcset="{% static 'web/images/20231014-day3202310141580-p-500.jpg' %} 500w, {% static 'web/images/20231014-day3202310141580-p-800.jpg' %} 800w, {% static 'web/images/20231014-day3202310141580.jpg' %} 1024w"/>
                                </div>
                                <div class="waves-big-image-wrap-gallery-3" id="w-node-_5373e9c6-b570-b227-8f72-dbb488addf29-625b2226">
                                    <img alt="" class="waves-image-gallery-3" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 32vw, (max-width: 1439px) 33vw, 26vw" src="{% static 'web/images/20231014-gala202310141448.jpg' %}" srcset="{% static 'web/images/20231014-gala202310141448-p-500.jpg' %} 500w, {% static 'web/images/20231014-gala202310141448-p-800.jpg' %} 800w, {% static 'web/images/20231014-gala202310141448.jpg' %} 1024w"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="uui-section_team06-3">
                <div class="uui-page-padding-30">
                    <div class="uui-container-large-28">
                        <div class="uui-padding-vertical-xhuge-29">
                            <div class="uui-max-width-large-26">
                                <h2 class="uui-heading-medium-23">
                                    Join, collaborate and connect
                                </h2>
                                <div class="uui-space-xsmall-21">
                                </div>
                                <div class="uui-space-medium-13">
                                </div>
                                <div class="uui-text-size-large-27">
                                    <strong class="bold-text-21">
                                        The Africa Data Foundation community is currently active in around 30 countries and collaborates with up to 50 well-known  organizations and 32 universities. Haven't joined yet? What are you waiting for?
                                    </strong>
                                </div>
                                <div class="uui-button-row-19 is-reverse-mobile-landscape">
                                    <div class="uui-button-row is-reverse-mobile-landscape">
                                        <div class="learnmoreevent max-width-full-mobile-landscape">
                                            <a class="uui-button-copy is-button-large w-inline-block" href="events.html">
                                                <div class="text-block-36">
                                                    Join Us
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="f-logo-css w-embed">
                <style>
                    /* SIMPLE CSS CAROUSEL */
.f-logo-carousel {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: carousel-track 90s linear infinite;
}
@keyframes carousel-track {
  from { transform: translateX(-85%); }
  to { transform: translateX(0%); }
}
.f-logo-carousel2 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: carousel-track2 40s linear infinite;
}
@keyframes carousel-track2 {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}
.f-logo-carousel:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}
                </style>
            </div>
        </div>
        
    </body>

    {% endblock %}
</html>
